<div class="card text-center">
    <div class="card-header">Payment History</div>
    <div class="card-body">
      <h5 class="card-title">High Impact</h5>
      <p class="card-text">
          100%
          <br>
       Percentages of payments you have made on time!
      </p>
      <a href="#" class="btn btn-primary">View Details</a>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>

  <div class="card text-center">
    <div class="card-header">Credit Card Usage</div>
    <div class="card-body">
      <h5 class="card-title">High Impact</h5>
      <p class="card-text">
          16%
          <br>
       How much credit you are using compared to your total limit!
      </p>
      <a href="#" class="btn btn-primary">View Details</a>
    </div>
    <div class="card-footer text-muted">1 day ago</div>
  </div>

  <div class="card text-center">
    <div class="card-header">Derogatory Mark</div>
    <div class="card-body">
      <h5 class="card-title">High Impact</h5>
      <p class="card-text">
          0
          <br>
      Collections, tax liens, banktrupcies, or civil judgement on your report!
      </p>
      <a href="#" class="btn btn-primary">View Details</a>
    </div>
    <div class="card-footer text-muted">10 days ago</div>
  </div>
  
