<p>Credit History</p>

<ng-container [ngSwitch]="appRoutes">

<app-credithistory-line-graph>

</app-credithistory-line-graph>
<table mat-table [dataSource]="CredHistory" class = "mat-elevation-z8">

    <ng-container matColumnDef = "month">
        <th mat-header-cell *matHeaderCellDef> Month</th>
        <td mat-cell *matCellDef = "let element"> {{element.month}} </td>
     </ng-container>
     <ng-container matColumnDef = "change">
        <th mat-header-cell *matHeaderCellDef>Change</th>
        <td mat-cell *matCellDef = "let element" [ngClass]="{
            'positive' : element.change > 0,
            'negative' : element.change < 0
         }"> {{element.change}} </td>
     </ng-container>
     <ng-container matColumnDef = "score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef = "let element"> {{element.score}} </td>
     </ng-container>

     <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
   <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>

  </table>
<br>

<app-generic-legend 
  [title]="title" 
  [legends]="legends">
</app-generic-legend>

  <button (click)="goToProductOfferings()" mat-raised-button>Product Offerings</button>

  <app-product-offerings *ngSwitchCase="appRoutesEnum.ProductOfferings"></app-product-offerings>

</ng-container>


