<p>Credit History</p>

<app-credithistory-line-graph>

</app-credithistory-line-graph>
<table mat-table [dataSource]="CredHistory" class = "mat-elevation-z8">

    <ng-container matColumnDef = "month">
        <th mat-header-cell *matHeaderCellDef> Month</th>
        <td mat-cell *matCellDef = "let element"> {{element.month}} </td>
     </ng-container>
     <ng-container matColumnDef = "change">
        <th mat-header-cell *matHeaderCellDef>Change</th>
        <td mat-cell *matCellDef = "let element" [ngClass]="{
            'positive' : element.change > 0,
            'negative' : element.change < 0
         }"> {{element.change}} </td>
     </ng-container>
     <ng-container matColumnDef = "score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef = "let element"> {{element.score}} </td>
     </ng-container>

     <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
   <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>

  </table>
<br>

<app-generic-legend 
  [title]="title" 
  [legends]="legends">
</app-generic-legend>

  <a (click)="goToProductOfferings()" mat-raised-button href="">Product Offerings</a>

  <app-product-offerings></app-product-offerings>

  <div class="card text-center">
    <div class="card-header">Payment History</div>
    <div class="card-body">
      <h5 class="card-title">High Impact</h5>
      <p class="card-text">
          100%
          <br>
       Percentages of payments you have made on time!
      </p>
      <a href="#" class="btn btn-primary">View Details</a>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>

  <div class="card text-center">
    <div class="card-header">Credit Card Usage</div>
    <div class="card-body">
      <h5 class="card-title">High Impact</h5>
      <p class="card-text">
          16%
          <br>
       How much credit you are using compared to your total limit!
      </p>
      <a href="#" class="btn btn-primary">View Details</a>
    </div>
    <div class="card-footer text-muted">1 day ago</div>
  </div>

  <div class="card text-center">
    <div class="card-header">Derogatory Mark</div>
    <div class="card-body">
      <h5 class="card-title">High Impact</h5>
      <p class="card-text">
          0
          <br>
      Collections, tax liens, banktrupcies, or civil judgement on your report!
      </p>
      <a href="#" class="btn btn-primary">View Details</a>
    </div>
    <div class="card-footer text-muted">10 days ago</div>
  </div>
  
